<nav class="navbar" >

	<div class="navbar--left">
		<li class="navbar__item navbar__logo "><a href="#">
			<img src="../../assets/images/logo.svg" alt="logo">
		</a></li>
		<li class="navbar__item"><a href="#">Features</a></li>
		<li class="navbar__item"><a href="#">Pricing</a></li>
		<li class="navbar__item"><a href="#">Resources</a></li>
	</div>

	<div class="navbar--right">
		<li class="navbar__item"><a href="#">Login</a></li>
		<li class="navbar__item"><a href="#">
			<button class="btn-cta-circle">Sign Up</button>
		</a></li>
	</div>

</nav>
